  <!-- ======= Header ======= -->
  <header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

      <a href="" class="logo d-flex align-items-center">
        <!-- Uncomment the line below if you also wish to use an image logo -->
        <!-- <img src="assets/img/logo.png" alt=""> -->
        <h1>Yours Paralegal</h1>
      </a>

      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
      <nav id="navbar" class="navbar">
        <ul>
          <li><a href="/" >Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/services">Popular Services</a></li>
          <li class="dropdown"><a href="#"><span>Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
              <li class="dropdown"><a href="/serviced#STO"><span>Business Startup Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="/serviced#STO">Sole Proprietorship Registration</a></li>
                  <li><a href="/serviced#STO">Partnership Firm Registration</a></li>
                  <li><a href="/serviced#STO">Limited Liability Partnership (LLP)</a></li>
                  <li><a href="/serviced#STO">Private Limited Company Reg</a></li>
                  <li><a href="/serviced#STO">One Person Company</a></li>
                  <li><a href="/serviced#STO">Society Registration</a></li>
                  <li><a href="/serviced#STO">Trust Registration</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/serviced#CAR"><span>Registration and License</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="/serviced#CAR">FOOD Licence</a></li>
                  <li><a href="/serviced#CAR">MSME Udyog Aadhar Registration</a></li>
                  <li><a href="/serviced#CAR">Shop and Establishment</a></li>
                  <li><a href="/serviced#CAR">RERA Registration</a></li>
                  <li><a href="/serviced#CAR">ISI mark Registration</a></li>
                  <li><a href="/serviced#CAR">ISO mark certification</a></li>
                  <li><a href="/serviced#CAR">Employee Provident Fund Reg</a></li>
                  <li><a href="/serviced#CAR">ESI Registration (ESIC)</a></li>
                  <li><a href="/serviced#CAR">Startup Initiative India Reg</a></li>
                  <li><a href="/serviced#CAR">Digital Signature Certificate (DSC)</a></li>
                  <li><a href="/serviced#CAR">Contrat Labour Licence</a></li>
                  <li><a href="/serviced#CAR">Pollution Control Board NOC</a></li>

                </ul>
              </li>
              <li class="dropdown"><a href="/serviced#LOG"><span>GST and Income Tax </span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="/serviced#LOG">GST Registration</a></li>
                  <li><a href="/serviced#LOG">IT Returns Filing</a></li>
                  <li><a href="/serviced#LOG">TDS</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/serviced#TRU"><span>IT Services</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="/serviced#TRU">Website development</a></li>
                  <li><a href="/serviced#TRU">App development</a></li>
                  <li><a href="/serviced#TRU">Digital marketing</a></li>
                  <li><a href="/serviced#TRU">Social Media Marketing</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/serviced#PAC"><span>Designing</span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="/serviced#PAC">Logo Design</a></li>
                  <li><a href="/serviced#PAC">Digital Visiting Cards</a></li>
                </ul>
              </li>
              <li class="dropdown"><a href="/serviced#WAR"><span>IPR Service </span> <i class="bi bi-chevron-down dropdown-indicator"></i></a>
                <ul>
                  <li><a href="/serviced#WAR">Trademark</a></li>
                  <li><a href="/serviced#WAR">Patent</a></li>
                  <li><a href="/serviced#WAR">Copyright</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="/contact" class="active">Contact</a></li>
          <li><a class="get-a-quote" href="/quote">Apply Now</a></li>
        </ul>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->
  <!-- End Header -->